.alertify .ajs-dialog {
  background-color: white;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.alertify .ajs-header {
  display: none;	
  color: black;
  font-weight: normal;
  background: #fafafa;
  border-bottom: #eee 1px solid;
  border-radius: 2px 2px 0 0;
}
.alertify .ajs-body {
  color: black;
}
.alertify .ajs-body .ajs-content {
    padding: 15px 15px 35px 15px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	text-align:center;
}
.alertify .ajs-body .ajs-content .ajs-input {
  display: block;
  width: 100%;
  padding: 8px 0;
  margin: 4px 0;
  border-radius: 2px;
  border: 1px solid #ffffff;
  font-size:14px;
}
.alertify .ajs-body .ajs-content p {
  margin: 0;
}
.alertify .ajs-footer {
	background: transparent;
	border-top: #eee 1px solid;
	border-radius: 0 0 5px 5px;
	padding: 0;
	overflow: hidden;
}
.alertify .ajs-footer .ajs-buttons .ajs-button {
	background-color: transparent;
	color: #000;
	border: 0;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	cursor:pointer;
  
	margin: 0 !important;
	width: 50%;
	height: 100%;
	min-height: 43px;
	border-radius: 0 !important;
}
.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok, .alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok-gr {
  color: #ffffff;
  padding:5px 10px;
  outline:0;
}
.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-cancel {
  background-color: #5d5d5c;
  color: #ffffff;
  padding:5px 10px;
  outline:0;
}
.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-cancel:hover {
  background-color: #393938;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok-gr {
	width: 100%;
}


.alertify-notifier .ajs-message {
  background: rgba(255, 255, 255, 0.95);
  color: #000;
  text-align: center;
  border-radius: 5px;
}
.alertify-notifier .ajs-message.ajs-success {
  color: #fff;
  background: #45d38b;
}
.alertify-notifier .ajs-message.ajs-error {
  z-index:1000;
  color: #fff;
  background: rgba(217, 92, 92, 0.95);
}
.alertify-notifier .ajs-message.ajs-warning {
  background: rgba(252, 248, 215, 0.95);
}
